/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: #fff; /* Light theme default */
    --text-color: #000; /* Light theme default */
    --primary-color: #007bff; /* Light theme default (example) */
    --accent-color: #ffc107; /* Light theme default (example) */
    /* Add more varia   bles for other colors you want to toggle */
  }

.purple-text {
    color: #6941C6;
}

.chip {
  border-radius: 50rem;
  padding: 0.2rem 0.8rem;
  font-size: 14px !important;
}

.chip-1 {
  background-color: #F9F5FF;
  color: #6941C6;
}

.chip-2 {
  background-color: #EEF4FF;
  color: #3538CD;
}

.chip-3 {
  background-color: #FDF2FA;
  color: #C11574;
}

.chip-4 {
  background-color: #F0F9FF;
  color: #026AA2;
}

.chip-5 {
  background-color: #ECFDF3;
  color: #027A48;
}

.chip-6 {
  background-color: #F8F9FC;
  color: #363F72;
}

.chip-7 {
  background-color: #FFF6ED;
  color: #C4320A;
}

.chip-8 {
  background-color: #FFF1F3;
  color: #C01048;
}

quill-editor {
  display: block;
  width: 100%;
}

.ql-editor:focus {
  border: 1px solid #80bdff !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.ng-invalid {
  border: 1px dashed red;
}

/* Set dropdown font-families */

[quill-editor-toolbar] .ql-font span[data-label="Aref Ruqaa"]::before {
  font-family: "Aref Ruqaa";
}

[quill-editor-toolbar] .ql-font span[data-label="Mirza"]::before {
  font-family: "Mirza";
}

[quill-editor-toolbar] .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto";
}

/* Set content font-families */

.ql-font-mirza {
  font-family: "Mirza";
}

.ql-font-aref {
  font-family: "Aref Ruqaa";
}

.ql-font-roboto {
  font-family: "Roboto";
}

// make major example component children full width
app-root > div > *,
app-root > div > * > form,
app-root > div > * > ng-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

app-root > div > * {
  // any root element in an example component, but H3s
  > *:not(h3) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  // make major example component children full width
  h4,
  > div,
  > .ql-container,
  quill-editor {
    flex: 1;
  }

  h3 {
    background: #e0e2e3;
    font-family: sans-serif;
    padding: 2rem;
  }

  h4 {
    text-align: center;
  }

  > button {
    flex: 1 1 32px;
  }

  // only style the example component pre, not quill's
  > pre,
  form > pre {
    background-color: #fcfcfc;
    border: 1px solid #b2b2b2;
    color: #363030;
    padding: 1.5rem;
    white-space: normal;
  }
}
